@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in-up 0.6s ease-out;
}

.navbar .active {
  /* width: 50px; */
  color: white;
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  /* background: rgb(120, 118, 118); */
  background: rgb(227, 100, 142);
  padding-right: 5px;
  padding-left: 5px;
}
